# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilados y builds
dist/
build/
.next/
out/
.docusaurus/

# Entornos y secretos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs y Editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
